/*
=============== 
Fonts
===============
*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Roboto:ital,wght@0,300;0,900;1,300;1,700&display=swap');

/*
=============== 
Variables
===============
*/

:root {
  --clr-primary-1: #495f8c;
  --clr-primary-2: #dceef2;
  --clr-orange-1: #f28705;
  --clr-orange-2: #f25c05;

  --clr-black-1: #0d0d0d;
  --clr-primary-7: hsl(205, 90%, 76%);
  --clr-primary-8: hsl(205, 86%, 81%);
  --clr-primary-9: hsl(205, 90%, 88%);
  --clr-primary-10: hsl(205, 100%, 96%);
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-green-dark: hsl(125, 67%, 44%);
  --clr-green-light: hsl(125, 71%, 66%);
  --clr-black: #222;
  --ff-primary: 'Roboto', sans-serif;
  --ff-secondary: 'Montserrat', sans-serif;
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
}
/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--ff-primary);
  background: var(--clr-grey-10);
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
  height: 100vh;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  height: 100vh;
  /* overflow: hidden; */
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
  font-family: var(--ff-primary);
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
  color: var(--clr-grey-5);
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}
/*  global classes */

/* section */
/* 
/* --------------------------------project styling ---------------------------- */
.text-experiment {
  background-color: #0c1830;
  background-image: linear-gradient(
    to right,
    #0c1830 0%,
    22.3300963640213%,
    #fce69a 44.6601927280426%,
    72.3300963640213%,
    #e3530c 100%
  );

  background-size: 100%;
  padding: 10px;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.container {
  width: 100%;
  height: 100vh;
  background: url('https://res.cloudinary.com/dylvkdabj/image/upload/v1649477171/website%20pics%20family/greece2_bg7vxe.jpg')
    center no-repeat;
  background-size: cover;
}

.banner-text {
  position: absolute;
  top: 84%;
  left: 53%;
  transform: translate(-50%, -50%);

  text-align: center;
}
.banner-text h1 {
  color: #fff;

  font-family: var(--ff-secondary);
  font-size: 5rem;
  font-weight: 300;
  letter-spacing: 2px;
  margin-bottom: 1.875rem;
}

.banner-text p {
  color: var(--clr-orange-2);
  font-family: var(--ff-primary);
  font-size: 2rem;
  font-weight: 300;
  letter-spacing: 1px;
  text-align: right;
  width: 70vw;
}

.btns {
  position: absolute;
  top: 50px;
  right: 60px;
}

.btn {
  width: 10.625rem;
  padding: 10px 15px;
  margin-right: 20px;
  border-radius: 50px;
  font-family: var(--ff-primary);
  font-size: 1rem;
  letter-spacing: 1px;
  cursor: pointer;

  border: none;
  color: var(--clr-primary-2);
  transition: transform 0.3s ease-in-out;
}

.login-btn {
  background-color: #f25c05;
}

.signUp-btn {
  background-color: transparent;
  color: hsl(209, 61%, 16%);
  border: 2px solid var(--clr-orange-2);
  font-weight: 700;
}

.btn:hover {
  transform: translateY(-2px);
}

.btn:active {
  transform: translateY(0);
}

/* ===================  signUp Form =============================== */

.modal {
  width: 400px;
  background: linear-gradient(
      to right,
      rgba(12, 24, 48, 0.445) 0%,
      22.3300963640213%,
      rgba(252, 231, 154, 0.26) 44.6601927280426%,
      72.3300963640213%,
      rgba(227, 84, 12, 0.281) 100%
    ),
    url('https://res.cloudinary.com/dylvkdabj/image/upload/v1649477171/website%20pics%20family/greece2_bg7vxe.jpg')
      center no-repeat;
  background-size: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  padding: 50px 0;
}

.x-btn {
  position: absolute;
  font-size: 50px;
  top: -20px;
  right: 10px;
  padding: 10px;
  color: var(--clr-orange-2);
  cursor: pointer;
}

.form-header {
  text-align: center;
}

.form-header h1 {
  font-family: var(--ff-secondary);
  font-weight: 300;
  font-size: 3rem;
  color: var(--clr-orange-2);
}

.form-header h3 {
  color: #fff;
  font-size: 1.5rem;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-group {
  margin-bottom: 15px;
}

.input-group input {
  width: 250px;
  padding: 15px 15px 15px 50px;
  border: none;
  outline: none;
  border-radius: 30px;
  background: rgba(0, 0, 0, 0.6);
}

input::placeholder {
  color: #fff;
}
/* ----------------------------end project styling ---------------------------- */
@media screen and (min-width: 992px) {
  .section-center {
    width: 95vw;
  }
}
main {
  min-height: 100vh;
  display: grid;
  place-items: center;
}
